@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'LexendMega';
	font-weight: 400;
	src: url(../fonts/LexendMega-Regular.ttf);
}
@font-face {
	font-family: 'LexendMega';
	font-weight: 100;
	src: url(../fonts/LexendMega-Thin.ttf);
}
@font-face {
	font-family: 'LexendMega';
	font-weight: 200;
	src: url(../fonts/LexendMega-ExtraLight.ttf);
}
@font-face {
	font-family: 'LexendMega';
	font-weight: 900;
	src: url(../fonts/LexendMega-Black.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
}

body {
	@apply font-sans font-normal;
}

td:not([data-value='EMPTY']) {
	pointer-events: none;
}
td:not([data-value='EMPTY']):after {
	content: attr(data-value);
	width: 100%;
	height: 100%;
}

.default-button {
	@apply hover:-translate-y-1 w-full my-5 text-4xl duration-200 text-black;
}

.SQUARE {
	width: 90vw;
	height: 90vw;
}
