@font-face {
	font-family: 'Raleway';
	src: url(./fonts/Raleway-Regular.ttf);
}

* {
	box-sizing: border-box;
}

:root {
	--bg-gradient-1: #fff89a;
	--bg-gradient-2: #ccf6c8;
	--bg-gradient-3: #fdcedf;

	--main-color-1: #7659b6;
	--main-color-2: #e65722;

	--grid-color: #3e5871;

	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Raleway';
	background: linear-gradient(
		324deg,
		var(--bg-gradient-1),
		var(--bg-gradient-2),
		var(--bg-gradient-3)
	);
	background-size: 180% 180%;
	animation: gradient-animation 21s ease infinite;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table {
	max-height: 65vh;
	max-width: 65vh;
	width: 90vw;
	height: 90vw;
	border-collapse: collapse;
	border-radius: 20px;
	overflow: hidden;
}

h2 {
	margin: 0 0 10% 0;
	color: #3e5871;
}

td {
	cursor: pointer;
	text-align: center;
	font-size: 3rem;
	width: calc(100% / 3);
	height: calc(100% / 3);
}

td:not([data-value='EMPTY']) {
	pointer-events: none;
}
td:not([data-value='EMPTY']):after {
	content: attr(data-value);
	width: 100%;
	height: 100%;
}

td[data-value='X'] {
	color: var(--main-color-1);
}

td[data-value='O'] {
	color: var(--main-color-2);
}

/* td:hover {
	background: #fcf4fd;
} */

tr:nth-child(2) {
	border-width: 6px 0;
	border-color: var(--grid-color);
	border-style: solid;
}

tr td:nth-child(2) {
	border-width: 0 6px;
	border-color: var(--grid-color);
	border-style: solid;
}

.endgame {
	pointer-events: none;
}

.ending-message {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (min-width: 992px) {
	td {
		font-size: 5rem;
	}

	.ending-message {
		font-size: 5rem;
	}

	.x-hover:hover::after {
		content: 'X';
		opacity: 0.5;
		color: var(--main-color-1);
	}

	.o-hover:hover::after {
		content: 'O';
		opacity: 0.5;
		color: var(--main-color-2);
	}
}
